<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mar.springbootinit.mapper.GoodsOrderMapper">

    <resultMap id="BaseResultMap" type="com.mar.springbootinit.model.entity.GoodsOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goodsId" jdbcType="BIGINT"/>
            <result property="orderId" column="orderId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="goodsNum" column="goodsNum" jdbcType="INTEGER"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="placeStatus" column="placeStatus" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goodsId,orderId,
        userId,goodsNum,place,
        placeStatus,createTime,updateTime,
        isDelete
    </sql>
</mapper>
